{% extends 'base.html.twig' %}

{% block body %}
    <div id="doc" class="yui-t7">
        <header role="banner"><h1>My GitHub R&eacute;sum&eacute;</h1></header>
        <article role="main">
            <div class="yui-g">
                <form id="run" method="get">
                    <p>
                        <input id="username" type="text" placeholder="Enter your GitHub username and click on generate" autofocus required />
                        <button type="submit" id="gen">Generate</button>
                    </p>
                </form>
            </div>

            <div class="yui-g">
                <p><br /><br /></p>
                <h2>See some popular users</h2>
                <div class="yui-gb">
                    <ul>
                        <li><a href="{{ url('resume_show', {username: "mxcl"}) }}" title="Max Howell">Max Howell</a></li>
                    </ul>
                </div>
                <div class="yui-gb">
                    <ul>
                        <li class=""><a href="{{ url('resume_show', {username: "defunkt"}) }}" title="Chris Wanstrath">Chris Wanstrath</a></li>
                    </ul>
                </div>
                <br />
            </div>
        </article>

        <footer role="contentinfo"><p>Design is taken from <a href="http://resume.github.io/">resume.github.io</a></p></footer>
    </div>

    <script type="text/javascript">
        document.getElementById("run").onsubmit = function (event) {
            var username = document.getElementById("username").value;
            if (username) {
                location.href = "/resume/" + username;
            }
            event.preventDefault();
        };
    </script>
{% endblock %}