{% extends 'base.html.twig' %}

{% block body %}
    <div id="doc2" class="yui-t7">
        <div id="inner" class="vcard">
            <header>
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1 class="fn">{{ user.name }}</h1>
                    </div>
                </div>
            </header>

            <article>
                <div id="yui-main">
                    <div class="yui-b">
                        {% if user.blog %}
                            <div class="yui-gf" id="mywebsite">
                                <div class="yui-u first">
                                    <h2>Website</h2>
                                </div>
                                <div class="yui-u" id="content-website">
                                    <a href="{{ user.blog }}" id="mywebsite" title="{{ user.name }}'s website">{{ user.blog }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div id="profile" class="yui-gf">
                            <div class="yui-u first">
                                <h2>GitHub Profile</h2>
                            </div>
                            <div class="yui-u">
                                <p class="enlarge">
                                    {{ user.name}} is a developer&nbsp;
                                    {%- if user.publicRepos -%}
                                        with <a href="https://github.com/{{ user.username }}?tab=repositories"> {{ user.publicRepos }} public {{ user.publicRepos > 1 ? 'repositories' : 'repository' }}</a>
                                    {%- else -%}
                                        without any public repository for now
                                    {%- endif -%}
                                </p>
                            </div>
                        </div>
                        <div id="repositories" class="yui-gf">
                            <div class="yui-u first">
                                <h2>Popular Repositories</h2>
                            </div><!--// .yui-u -->

                            <div class="yui-u" id="jobs">
                                {% for repo in repoInfo.repos|slice(0, constant('App\\Dto\\GitHubRepoInfoDto::MAX_POPULAR_REPOS')) %}
                                    <div class="job {% if loop.last %}last{% endif %}">
                                        <h2>
                                            <a href="{{ repo.url }}">{{ repo.name }}</a>
                                        </h2>
                                        {% if repo.language -%}
                                            <h3>{{ repo.language }}</h3>
                                        {%- endif %}
                                        <p>{{ repo.description }} {% if repo.homepage -%}<a href="{{ repo.homepage }}">{{repo.homepage}}</a>{% endif -%}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="yui-gf last" id="mylanguages">
                            <div class="yui-u first">
                                <h2>Languages</h2>
                            </div>
                            <div class="yui-u" id="content-languages">
                                <ul class="talent">
                                    {% for language in repoInfo.languages %}
                                        <li>{{ language.languageName }} ({{ language.percent }}%)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <footer role="contentinfo"><p>Design is taken from <a href="http://resume.github.io/">resume.github.io</a></p></footer>

        </div>

    </div>
{% endblock %}